<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Question Bank Web App</title>
    <link href="../static/bootstrap-min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="main">Home</a> </li>
                    <li role="presentation"><a href="showLogin">Sign In</a> </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a> </li>
                    <li role="presentation"><a href="showQuestion">Add Question</a> </li>
                </ul>
            </nav>
            <h3 class="text-muted">Question Bank for NetWars</h3>
        </div>

        <div class="jumbotron">
            <h1> SIEM Challenges </h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Register your account</a>
            </p>
        </div>

        <footer class="footer">
            <p>&copy; Jay Seo, Ph.D </p>
        </footer>

    </div>
</body>

</html>